// Colors
$color-one: #261C2C;
$color-two: #3E2C41;
$color-three: #5C527F;
$color-four: #6E85B2;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;